<div class="container">
    <h1>About Us</h1>
    <hr>
    <h3>Origins</h3>
    <p>It all started when a group of students at Universidad de los Andes were doing a course on Web Technologies, next thing you know, they are the next Jobs, Zuckerberg and Gates's of the world.</p>
</div>