<div class="row g-3">
  <div class="col">
    <label for="name" class="form-label">Name</label>
    <input id="name" type="text" class="form-control col-6" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <label for="name" class="form-label"><br></label>
    <input id="name" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button class="btn btn-primary" type="submit" style="background-color: ">Submit</button>